/***    COLORS    ***/
/***    EXTENDS    ***/
.App {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center bottom calc(-100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
.App {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../img/name_tag_bottom_intro.svg"); }
