/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
.bg {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center bottom calc(-100vw / 1500 * 210 / 3); }
  @media screen and (max-width: 800px) {
    .bg {
      background-repeat: no-repeat;
      background-size: auto 105%;
      background-position: left calc(-100vh / 1100 * 140 / 3) center; } }
