/*******************************/
/***       TYPOGRAPHY        ***/
/*******************************/
/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
/***    EXTERNAL FONTS    ***/
@font-face {
  font-family: 'Gill Sans';
  src: url("../fonts/GillSans.ttc"); }

/***    ELEMENTS STYLES    ***/
html {
  font-size: 100%; }

body {
  font-family: "Gill Sans", sans-serif;
  color: #242424; }

a:link, a:visited {
  color: #242424;
  text-decoration: none; }

*::selection {
  background-color: #EBEBEB;
  color: #242424; }
