/*******************************/
/***       TYPOGRAPHY        ***/
/*******************************/
/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
/***    EXTERNAL FONTS    ***/
/***    ELEMENTS STYLES    ***/
html {
  font-size: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #242424; }

a:link, a:visited {
  color: #242424;
  text-decoration: none; }

*::selection {
  background-color: #EBEBEB;
  color: #242424; }

p {
  line-height: 1.4rem; }
