/*******************************/
/***       TYPOGRAPHY        ***/
/*******************************/

/***    EXTERNAL FONTS    ***/

@font-face
  font-family: 'Gill Sans'
  src: url('../fonts/GillSans.ttc')



/***    ELEMENTS STYLES    ***/

html
  font-size: 100%

body
  font-family: "Gill Sans", sans-serif
  color: $color-dark-grey


a:link, a:visited
  color: $color-dark-grey
  text-decoration: none

*::selection
  background-color: $color-light-grey
  color: $color-dark-grey