/***    COLORS    ***/
$color-light-grey: #EBEBEB
$color-medium-grey: #BFBFBF
$color-dark-grey: #242424
$accent-color: deeppink


/***    EXTENDS    ***/


/***    BREAKPOINTS    ***/
$lg-size: 1050px
$md-size: 800px
$sm-size: 420px