@import "../base/vars.sass"

.About
  background:
    color: $color-light-grey
    image: url("../img/name_tag_bottom.svg")
  height: 100%
  width: 100%
  position: relative

  @media screen and (max-width: 800px)
    background-image: url("../img/name_tag_left.svg")
    //height: 120%
  @media screen and (max-width: 600px)
    height: 220%
    background-image: none


.about-me
  position: absolute
  width: 35%
  top: 50px
  left: calc(30%)
  opacity: 0
  transform: translate3d(0, -30px, 0)
  animation: slideInDown 0.6s 0.3s forwards

  @media screen and (max-width: 800px)
    width: calc(100% - 100vh / 1100 * 140 * 4 / 3 - 140px)
    left: calc(100vh / 1100 * 140 * 4 / 3)
    top: calc(100vh / 1100 * 250)

  @media screen and (max-width: 600px)
    width: calc(100% - 120px)
    left: 30px
    top: 50px


  p
    margin-bottom: 1rem

  a:visited, a:link
    text-decoration: underline

  .quote
    text-transform: lowercase
    margin-top: 50px