/***    COLORS    ***/
/***    EXTENDS    ***/
.About {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center bottom calc(-100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
.About {
  background-color: #EBEBEB;
  background-image: url("../img/name_tag_bottom.svg");
  height: 100%;
  width: 100%;
  position: relative; }

.about-me {
  position: absolute;
  width: 35%;
  top: 50px;
  left: calc(30%); }
  .about-me p {
    line-height: 1.4rem;
    margin-bottom: 1rem; }
  .about-me a:visited, .about-me a:link {
    text-decoration: underline; }
