/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
.About {
  background-color: #EBEBEB;
  background-image: url("../img/name_tag_bottom.svg");
  height: 100%;
  width: 100%;
  position: relative; }

.about-me {
  position: absolute;
  width: 35%;
  top: 50px;
  left: calc(30%);
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  animation: slideInDown 0.6s 0.3s forwards; }
  .about-me p {
    margin-bottom: 1rem; }
  .about-me a:visited, .about-me a:link {
    text-decoration: underline; }
