@import "../base/vars.sass"

.App
  height: 100vh
  position: relative
  overflow-x: hidden
  overflow-y: hidden
  @media screen and (max-width: 800px)
    overflow-y: scroll
  z-index: 1

  background:
    image: url("../img/name_tag_bottom_intro.svg"), url("../img/animation.gif")
    size: 105%, 70%
    position: center bottom calc(-100vw / 1500 * 210 / 3), center center

  @media screen and (max-width: 800px)
    background:
      image: url("../img/name_tag_left_intro.svg")
      size: auto 105%
      position: left calc(-100vh / 1100 * 140 / 3) center