/***    COLORS    ***/
/***    BREAKPOINTS    ***/
.intro {
  text-align: center; }

.motto {
  font-size: 1.5rem;
  margin-bottom: 120px; }

.email {
  display: block;
  margin-bottom: 20px;
  font-weight: 100; }

.email:link, .email:visited,
.social a:link,
.social a:visited {
  color: #b8b8b8; }

.social {
  display: flex;
  justify-content: center; }
  .social a {
    margin: 0 10px; }
