@import "../base/vars.sass"

.thumbs
  display: flex
  flex-direction: column
  position: absolute
  right: 35px

.thumb
  width: 50px
  height: 50px
  background-color: $color-dark-grey
  &:hover
    background-size: cover