/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
.thumbs {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 35px;
  top: calc(50% - 7* 50px / 2);
  z-index: 10; }

.thumb {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #242424;
  background-size: cover; }
  .thumb .tag {
    position: absolute;
    right: calc(100% + 100px);
    top: 0;
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-align: right;
    color: #BFBFBF;
    opacity: 0;
    transition: opacity 0.3s, right 0.3s ease-out; }
  .thumb:hover .tag {
    opacity: 1;
    right: calc(100% + 10px); }

.back-to-home {
  position: absolute;
  top: 30px;
  right: calc(35px + 25px - 6px);
  color: #EBEBEB;
  z-index: 1; }
  .back-to-home.black {
    color: #242424; }

.thumb-1 {
  background-color: #9c9c9c; }

.thumb-2 {
  background-color: #848484; }

.thumb-3 {
  background-color: #6c6c6c; }

.thumb-4 {
  background-color: #535353; }

.thumb-5 {
  background-color: #3b3b3b; }

.thumb-6 {
  background-color: #232323; }

.thumb-7 {
  background-color: #0b0b0b; }

.thumb-8 {
  background-color: black; }

.thumb-9 {
  background-color: black; }

.thumb-10 {
  background-color: black; }

.thumb-11 {
  background-color: black; }

.thumb-12 {
  background-color: black; }
