@import "../base/vars.sass"

.thumbs
  display: flex
  flex-direction: column
  position: absolute
  right: 35px
  top: calc(50% - 8 * 50px / 2)
  z-index: 10

.thumb
  width: 50px
  height: 50px
  position: relative
  background-color: $color-dark-grey
  background-size: cover

  .tag
    position: absolute
    right: 100vw
    top: 0
    height: 50px
    width: 200px
    line-height: 50px
    text-align: right
    color: $color-medium-grey
    animation: slideMeOut 0.5s forwards

  &:hover .tag
    animation: slideMeIn 0.5s forwards

.back-to-home
  position: absolute
  top: 30px
  right: calc(35px + 25px - 6px)
  color: $color-light-grey
  z-index: 1
  &.black
    color: $color-dark-grey

@for $i from 1 through 12
  .thumb-#{$i}
    $color: 230 - $i * (230 - 45) / (8 - 1)
    background-color: rgb($color, $color, $color)

@keyframes slideMeIn
  0%
    right: 100vw
    opacity: 0
  10%
    right: calc(100% + 100px)
    opacity: 0
  100%
    right: calc(100% + 10px)
    opacity: 1

@keyframes slideMeOut
  0%
    right: calc(100% + 10px)
    opacity: 1
  90%
    right: calc(100% + 100px)
    opacity: 0
  100%
    right: 100vw
    opacity: 0
