/***    COLORS    ***/
/***    EXTENDS    ***/
.Work {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center bottom calc(-100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
.Work {
  background-image: url("../img/name_tag_bottom_inverse.svg");
  background-position: center bottom calc(-100vw / 1500 * 210 / 3 + 80px);
  color: #EBEBEB;
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 80px;
  position: relative; }
  .Work::before {
    content: '';
    position: absolute;
    top: calc(50% - 25px);
    right: -100px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    transform-origin: center center;
    z-index: -1;
    animation: spread 0.6s forwards; }
  .Work .col-left {
    width: calc(40% - 70px);
    text-align: right;
    margin-right: 70px;
    opacity: 0;
    transform: translate3d(0, -30px, 0);
    animation: slideInDown 0.6s 0.2s forwards; }
    .Work .col-left .links {
      margin-top: 25px;
      font-size: 1rem; }
      .Work .col-left .links a {
        margin-left: 15px; }
      .Work .col-left .links a:link, .Work .col-left .links a:visited {
        color: #EBEBEB; }
  .Work .col-right {
    width: 40%;
    opacity: 0;
    transform: translate3d(0, -30px, 0);
    animation: slideInDown 0.6s 0.5s forwards; }
    .Work .col-right .description, .Work .col-right .tags {
      margin-bottom: 50px; }
    .Work .col-right .preview {
      max-width: 100%;
      max-height: 300px; }

@keyframes spread {
  0% {
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    opacity: 0.4; }
  100% {
    width: 3000px;
    height: 3000px;
    top: calc(50% - 1500px);
    opacity: 1; } }
