@import "../base/vars.sass"

.Work
  background:
    image: url("../img/name_tag_bottom_inverse.svg")
    position: center bottom calc(-100vw / 1500 * 210 / 3 + 80px)
  color: $color-light-grey
  height: 100%
  width: 100%

  display: flex
  padding-top: 80px
  position: relative

  @media screen and (max-width: 800px)
    flex-direction: column
    height: calc(100% - 80px)
    background:
      size: auto 105%
      image: url("../img/name_tag_left_inverse.svg")
      position: left calc(-100vh / 1100 * 140 / 3) center

  @media screen and (max-width: 600px)
    background-image: none
    padding-top: 50px
    height: calc(190% - 50px)

  &::before
    content: ''
    position: absolute
    top: calc(50% - 25px)
    right: -100px
    width: 50px
    height: 50px
    background-color: black
    border-radius: 50%
    transform-origin: center center
    z-index: -1

    animation: spread 0.4s forwards


  .col-left
    width: calc(40% - 70px)
    text-align: right
    margin-right: 70px
    opacity: 0
    animation: slideInDown 0.6s 0.2s forwards

    @media screen and (max-width: 800px)
      text-align: left

    .links
      margin-top: 25px
      font-size: 1rem
      a
        margin-left: 15px
        @media screen and (max-width: 800px)
          margin-left: 0
          margin-right: 15px

      a:link, a:visited
        color: $color-light-grey


  .col-right
    width: 40%
    opacity: 0
    animation: slideInDown 0.6s 0.5s forwards

    .description, .tags
      margin-bottom: 50px

      a:link, a:visited
        color: $color-light-grey
        text-decoration: underline

    .preview
      max-width: 100%
      max-height: 300px

    @media screen and (max-width: 800px)
      margin-top: 60px

  .col-left,
  .col-right
    transform: translate3d(0, -30px, 0)
    @media screen and (max-width: 800px)
      width: calc(100% - 100vh / 1100 * 140 * 4 / 3 - 150px)
      margin-left: calc(100vh / 1100 * 140 * 4 / 3)
    @media screen and (max-width: 600px)
      width: calc(100% - 120px)
      margin-left: 30px


@keyframes spread
  0%
    width: 50px
    height: 50px
    top: calc(50% - 25px)
    right: -100px
    opacity: 0.4
    border-radius: 50%

  95%
    width: 3000px
    height: 3000px
    top: calc(50% - 1500px)
    right: -100px
    opacity: 1
    border-radius: 50%

  100%
    width: 100%
    height: 100%
    top: 0
    right: 0
    opacity: 1
    border-radius: 0