/***    COLORS    ***/
/***    EXTENDS    ***/
.Work {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center bottom calc(-100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
.Work {
  background-color: black;
  background-image: url("../img/name_tag_bottom_inverse.svg");
  background-position: center bottom calc(-100vw / 1500 * 210 / 3 + 80px);
  color: #EBEBEB;
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 80px; }
  .Work .col-left {
    width: calc(40% - 70px);
    text-align: right;
    margin-right: 70px; }
    .Work .col-left .links {
      margin-top: 25px;
      font-size: 1rem; }
      .Work .col-left .links a {
        margin-left: 15px; }
      .Work .col-left .links a:link, .Work .col-left .links a:visited {
        color: #EBEBEB; }
  .Work .col-right {
    width: 40%; }
    .Work .col-right .description, .Work .col-right .tags {
      margin-bottom: 50px; }
    .Work .col-right .preview {
      max-width: 100%;
      max-height: 300px; }
