body, ul, h1, h2, h3, h4, h5, p, figure {
  padding: 0;
  margin: 0; }

/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
/*******************************/
/***       TYPOGRAPHY        ***/
/*******************************/
/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
/***    EXTERNAL FONTS    ***/
/***    ELEMENTS STYLES    ***/
html {
  font-size: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #242424; }

a:link, a:visited {
  color: #242424;
  text-decoration: none; }

*::selection {
  background-color: #EBEBEB;
  color: #242424; }

p {
  line-height: 1.4rem; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -30px, 0);
    visibility: visible;
    opacity: 0; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
.bg {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center bottom calc(-100vw / 1500 * 210 / 3); }
  @media screen and (max-width: 800px) {
    .bg {
      background-repeat: no-repeat;
      background-size: auto 105%;
      background-position: left calc(-100vh / 1100 * 140 / 3) center; } }

/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
.App {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  background-image: url("../img/name_tag_bottom_intro.svg"), url("../img/animation.gif");
  background-size: 105%, 70%;
  background-position: center bottom calc(-100vw / 1500 * 210 / 3), center center; }
  @media screen and (max-width: 800px) {
    .App {
      overflow-y: scroll; } }
  @media screen and (max-width: 800px) {
    .App {
      background-image: url("../img/name_tag_left_intro.svg");
      background-size: auto 105%;
      background-position: left calc(-100vh / 1100 * 140 / 3) center; } }

/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
.Contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; }
  @media screen and (max-width: 600px) {
    .Contacts {
      position: absolute;
      width: 100%;
      bottom: 0; } }

.email,
.social {
  margin-right: 50px; }
  @media screen and (max-width: 600px) {
    .email,
    .social {
      margin-right: 20px; } }

.email:link, .email:visited,
.social a:link,
.social a:visited,
.about:link,
.about:visited {
  color: #BFBFBF; }
  @media screen and (max-width: 800px) {
    .email:link, .email:visited,
    .social a:link,
    .social a:visited,
    .about:link,
    .about:visited {
      color: #242424; } }

.email:hover,
.social a:hover,
.about:hover {
  color: #242424; }

.social {
  display: flex;
  justify-content: center; }
  .social a {
    margin: 0 10px; }

/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
.About {
  background-image: url("../img/name_tag_bottom.svg");
  height: 100%;
  width: 100%;
  position: relative;
  animation: bgFadeIn 1s forwards; }
  @media screen and (max-width: 800px) {
    .About {
      background-image: url("../img/name_tag_left.svg"); } }
  @media screen and (max-width: 600px) {
    .About {
      height: 220%;
      background-image: none; } }

.about-me {
  position: absolute;
  width: 35%;
  top: 50px;
  left: calc(30%);
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  animation: slideInDown 0.6s 0.3s forwards; }
  @media screen and (max-width: 800px) {
    .about-me {
      width: calc(100% - 100vh / 1100 * 140 * 4 / 3 - 170px);
      left: calc(100vh / 1100 * 140 * 4 / 3 + 30px);
      top: 80px; } }
  @media screen and (max-width: 600px) {
    .about-me {
      width: calc(100% - 120px);
      left: 30px;
      top: 50px; } }
  .about-me p {
    margin-bottom: 1rem; }
  .about-me a:visited, .about-me a:link {
    text-decoration: underline; }
  .about-me .quote {
    text-transform: lowercase;
    margin-top: 50px; }

@keyframes bgFadeIn {
  0% {
    background-color: rgba(235, 235, 235, 0); }
  100% {
    background-color: #ebebeb; } }

/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
.thumbs {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 35px;
  top: calc(50% - 10 * 50px / 2);
  z-index: 10; }
  @media screen and (max-width: 600px) {
    .thumbs {
      top: calc(50% - 10 * 40px / 2);
      right: 20px; } }

.thumb {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #242424;
  background-size: cover; }
  @media screen and (max-width: 600px) {
    .thumb {
      width: 40px;
      height: 40px; } }
  .thumb .tag {
    position: absolute;
    right: 100vw;
    top: 0;
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-align: right;
    color: #BFBFBF;
    animation: slideMeOut 0.5s forwards; }
    @media screen and (max-width: 800px) {
      .thumb .tag {
        display: none; } }
  .thumb:hover .tag {
    animation: slideMeIn 0.5s forwards; }

.back-to-home {
  position: fixed;
  top: 30px;
  right: calc(35px + 25px - 6px);
  color: #EBEBEB;
  z-index: 1; }
  .back-to-home.black {
    color: #242424; }
  @media screen and (max-width: 600px) {
    .back-to-home {
      right: calc(20px + 20px - 6px); } }

.thumb-1 {
  background-color: #d1d1d1; }

.thumb-2 {
  background-color: #bdbdbd; }

.thumb-3 {
  background-color: #a8a8a8; }

.thumb-4 {
  background-color: #949494; }

.thumb-5 {
  background-color: #7f7f7f; }

.thumb-6 {
  background-color: #6b6b6b; }

.thumb-7 {
  background-color: #565656; }

.thumb-8 {
  background-color: #424242; }

.thumb-9 {
  background-color: #2d2d2d; }

.thumb-10 {
  background-color: #181818; }

.thumb-11 {
  background-color: #040404; }

.thumb-12 {
  background-color: black; }

@keyframes slideMeIn {
  0% {
    right: 100vw;
    opacity: 0; }
  10% {
    right: calc(100% + 100px);
    opacity: 0; }
  100% {
    right: calc(100% + 10px);
    opacity: 1; } }

@keyframes slideMeOut {
  0% {
    right: calc(100% + 10px);
    opacity: 1; }
  90% {
    right: calc(100% + 100px);
    opacity: 0; }
  100% {
    right: 100vw;
    opacity: 0; } }

/***    COLORS    ***/
/***    EXTENDS    ***/
/***    BREAKPOINTS    ***/
.Work {
  background-image: url("../img/name_tag_bottom_inverse.svg");
  background-position: center bottom calc(-100vw / 1500 * 210 / 3 + 80px);
  color: #EBEBEB;
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 80px;
  position: relative; }
  @media screen and (max-width: 800px) {
    .Work {
      flex-direction: column;
      height: calc(100% - 80px);
      background-size: auto 105%;
      background-image: url("../img/name_tag_left_inverse.svg");
      background-position: left calc(-100vh / 1100 * 140 / 3) center; } }
  @media screen and (max-width: 600px) {
    .Work {
      background-image: none;
      padding-top: 50px;
      height: calc(190% - 50px); } }
  .Work::before {
    content: '';
    position: absolute;
    top: calc(50% - 25px);
    right: -100px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    transform-origin: center center;
    z-index: -1;
    animation: spread 0.4s forwards; }
  .Work .col-left {
    width: calc(40% - 70px);
    text-align: right;
    margin-right: 70px;
    opacity: 0;
    animation: slideInDown 0.6s 0.2s forwards; }
    @media screen and (max-width: 800px) {
      .Work .col-left {
        text-align: left; } }
    .Work .col-left .links {
      margin-top: 25px;
      font-size: 1rem; }
      .Work .col-left .links a {
        margin-left: 15px; }
        @media screen and (max-width: 800px) {
          .Work .col-left .links a {
            margin-left: 0;
            margin-right: 15px; } }
      .Work .col-left .links a:link, .Work .col-left .links a:visited {
        color: #EBEBEB; }
  .Work .col-right {
    width: 40%;
    opacity: 0;
    animation: slideInDown 0.6s 0.5s forwards; }
    .Work .col-right .description, .Work .col-right .tags {
      margin-bottom: 50px; }
      .Work .col-right .description a:link, .Work .col-right .description a:visited, .Work .col-right .tags a:link, .Work .col-right .tags a:visited {
        color: #EBEBEB;
        text-decoration: underline; }
    .Work .col-right .preview {
      max-width: 100%;
      max-height: 300px; }
    @media screen and (max-width: 800px) {
      .Work .col-right {
        margin-top: 60px; } }
  .Work .col-left,
  .Work .col-right {
    transform: translate3d(0, -30px, 0); }
    @media screen and (max-width: 800px) {
      .Work .col-left,
      .Work .col-right {
        width: calc(100% - 100vh / 1100 * 140 * 4 / 3 - 150px);
        margin-left: calc(100vh / 1100 * 140 * 4 / 3); } }
    @media screen and (max-width: 600px) {
      .Work .col-left,
      .Work .col-right {
        width: calc(100% - 120px);
        margin-left: 30px; } }

@keyframes spread {
  0% {
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    right: -100px;
    opacity: 0.4;
    border-radius: 50%; }
  95% {
    width: 3000px;
    height: 3000px;
    top: calc(50% - 1500px);
    right: -100px;
    opacity: 1;
    border-radius: 50%; }
  100% {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    border-radius: 0; } }
