body, ul, h1, h2, h3, h4, h5, p, figure {
  padding: 0;
  margin: 0; }

/***    COLORS    ***/
/***    EXTENDS    ***/
.App, .Work {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center calc(100% + 100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
/*******************************/
/***       TYPOGRAPHY        ***/
/*******************************/
/***    COLORS    ***/
/***    EXTENDS    ***/
.App, .Work {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center calc(100% + 100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
/***    EXTERNAL FONTS    ***/
@font-face {
  font-family: 'Gill Sans';
  src: url("../fonts/GillSans.ttc"); }

/***    ELEMENTS STYLES    ***/
html {
  font-size: 100%; }

body {
  font-family: "Gill Sans", sans-serif;
  color: #242424; }

a:link, a:visited {
  color: #242424;
  text-decoration: none; }

*::selection {
  background-color: #EBEBEB;
  color: #242424; }

/***    COLORS    ***/
/***    EXTENDS    ***/
.App, .Work {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center calc(100% + 100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
.App {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../img/name_tag_bottom_intro.svg"); }

/***    COLORS    ***/
/***    EXTENDS    ***/
.App, .Work {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center calc(100% + 100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
.Contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.email,
.social {
  margin-right: 50px; }

.email:link, .email:visited,
.social a:link,
.social a:visited,
.about:link,
.about:visited {
  color: #BFBFBF; }

.email:hover,
.social a:hover,
.about:hover {
  color: #242424; }

.social {
  display: flex;
  justify-content: center; }
  .social a {
    margin: 0 10px; }

/***    COLORS    ***/
/***    EXTENDS    ***/
.App, .Work {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center calc(100% + 100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
.thumbs {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 35px;
  top: calc(50% - 150px);
  z-index: 10; }

.thumb {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #242424;
  background-size: cover; }
  .thumb .tag {
    position: absolute;
    right: calc(100% + 100px);
    top: 0;
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-align: right;
    color: #BFBFBF;
    opacity: 0;
    transition: opacity 0.3s, right 0.3s; }
  .thumb:hover .tag {
    opacity: 1;
    right: calc(100% + 10px); }

.back-to-home {
  position: absolute;
  top: 30px;
  right: calc(35px + 25px - 6px);
  color: #EBEBEB; }
  .back-to-home.black {
    color: #242424; }

/***    COLORS    ***/
/***    EXTENDS    ***/
.App, .Work {
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: center calc(100% + 100vw / 1500 * 210 / 3); }

/***    BREAKPOINTS    ***/
.Work {
  background-color: black;
  background-image: url("../img/name_tag_bottom_inverse.svg");
  color: #EBEBEB;
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 80px; }
  .Work .col-left {
    width: calc(40% - 70px);
    text-align: right;
    margin-right: 70px; }
    .Work .col-left .links {
      margin-top: 25px;
      font-size: 1rem; }
      .Work .col-left .links a {
        margin-left: 15px; }
      .Work .col-left .links a:link, .Work .col-left .links a:visited {
        color: #EBEBEB; }
  .Work .col-right {
    width: 40%; }
    .Work .col-right .description, .Work .col-right .tags {
      margin-bottom: 50px; }
    .Work .col-right .preview {
      max-width: 100%;
      max-height: 300px; }
